<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }
  
  .app-content {
    display: flex;
    margin: 5% auto ;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }

</style>

<div class="app-content" role="main">  
  <!-- Next Steps -->
  <h2>Next Steps</h2>
  <p>What do you want to do next with your app?</p>
  <label for="number1"></label>
  <input type="number" name="number1" id="number1">
  <label for="number2"></label>
  <input type="number" name="number2" id="number2">
  <label for="operationType">Operation Type</label>
  <select name="operationType" id="operationType">
    <option value="add">Sum</option>
    <option value="subtract">Subtract</option>
    <option value="multiply">Multiply</option>
  </select>
  <button (click)="doOperation()">Operate</button>
  <h3>RESULT: </h3>
  <h3>{{result}}</h3>
</div>
